<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" style="font-family: 'Nunito', sans-serif;"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="carrinho p-3">

    <div class=" d-flex justify-content-between mx-3 mb-2">
      <div>Itens</div>
      <div>Preço</div>
    </div>

    <ion-list>
      <ion-item-sliding *ngFor="let c of carrinho; let i = index">
        <ion-item lines="full">
          <ion-label>{{c.quantidade}} x {{c.produto.nome}}</ion-label>
          <div>{{c.produto.valor * c.quantidade | currency: 'BRL'}}</div>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning" (click)="remover(i)">
            <ion-icon color="light" name="trash-sharp"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div class=" d-flex justify-content-between mx-3 mt-4 mb-4">
      <div>Total</div>
      <div>{{totalCarrinho | currency: 'BRL'}}</div>
    </div>

  </div>

  <form class="ms-3 me-5">
    <h3 class="text-center" style="color:goldenrod">Finalizar pedido</h3>
    <ion-item>
      <ion-label position="floating">Nome completo</ion-label>
      <ion-input type="text" [(ngModel)]="nome" name="nome" placeholder="Como vamos te chamar?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="telefone" name="telefone" placeholder="(00) 00000-0000"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="entrega" name="entrega" (ionChange)="verificar()">
        <ion-list-header>
          <ion-label class="text-center" style="color:goldenrod">Escolha uma opção:</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Entrega</ion-label>
          <ion-radio slot="start" value="delivery"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Retirada no local</ion-label>
          <ion-radio slot="start" value="balcao"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="mostrarEndereco">
      <ion-label position="floating">Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="endereco" name="endereco" placeholder="Rua X, 000. Bairro"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="pagamento" name="pagamento">
        <ion-list-header>
          <ion-label class="text-center" style="color:goldenrod">Forma de pagamento:</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Pix</ion-label>
          <ion-radio slot="start" value="pix"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Dinheiro</ion-label>
          <ion-radio slot="start" value="dinheiro"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Cartão Débito/Crédito</ion-label>
          <ion-radio slot="start" value="cartao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-button (click)="enviarPedido()"type="submit" expand="block" class="mt-3">
        Enviar pedido pelo Whatsapp
      </ion-button>
    </ion-list>
  </form>
</ion-content>